[submodule "dotvim/bundle/bufexplorer"]
	path = dotvim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "dotvim/bundle/ctrlp.vim"]
	path = dotvim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "dotvim/bundle/Dockerfile.vim"]
	path = dotvim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "dotvim/bundle/gundo.vim"]
	path = dotvim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "dotvim/bundle/nerdcommenter"]
	path = dotvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/taglist.vim"]
	path = dotvim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "dotvim/bundle/vim-airline"]
	path = dotvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotvim/bundle/vim-cucumber"]
	path = dotvim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "dotvim/bundle/vim-endwise"]
	path = dotvim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/vim-go"]
	path = dotvim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "dotvim/bundle/vim-json"]
	path = dotvim/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "dotvim/bundle/vim-markdown"]
	path = dotvim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "dotvim/bundle/vim-repeat"]
	path = dotvim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "dotvim/bundle/vim-ruby"]
	path = dotvim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dotvim/bundle/vim-surround"]
	path = dotvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/vim-userstories"]
	path = dotvim/bundle/vim-userstories
	url = https://github.com/pk/vim-userstories.git
[submodule "dotvim/bundle/vim-yaml"]
	path = dotvim/bundle/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "dotvim/bundle/tlib_vim"]
	path = dotvim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "dotvim/bundle/vim-addon-mw-utils"]
	path = dotvim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "dotvim/bundle/vim-multiple-cursors"]
	path = dotvim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "dotvim/bundle/SyntaxRange"]
	path = dotvim/bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
[submodule "dotvim/bundle/ale"]
	path = dotvim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "dotvim/bundle/deoplete-ruby"]
	path = dotvim/bundle/deoplete-ruby
	url = https://github.com/fishbullet/deoplete-ruby.git
[submodule "dotvim/bundle/vim-rspec"]
	path = dotvim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "dotvim/bundle/vim-airline-themes"]
	path = dotvim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "dotvim/bundle/vim-devicons"]
	path = dotvim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "dotvim/bundle/vim-easytags"]
	path = dotvim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "dotvim/bundle/vim-speeddating"]
	path = dotvim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "dotvim/bundle/vim-searchindex"]
	path = dotvim/bundle/vim-searchindex
	url = https://github.com/google/vim-searchindex.git
[submodule "dotvim/bundle/vim-terraform"]
	path = dotvim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "dotvim/bundle/vim-mundo"]
	path = dotvim/bundle/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "dotvim/bundle/vim-nerdtree-syntax-highlight"]
	path = dotvim/bundle/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "dotvim/bundle/vim-misc"]
	path = dotvim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "dotvim/bundle/vim-textobj-rubyblock"]
	path = dotvim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "dotvim/bundle/vim-textobj-user"]
	path = dotvim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "dotvim/bundle/vim-gitgutter"]
	path = dotvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotvim/bundle/vim-indent-object"]
	path = dotvim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "dotvim/bundle/vim-puppet"]
	path = dotvim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "dotvim/bundle/ultisnips"]
	path = dotvim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotvim/bundle/vim-snippets"]
	path = dotvim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotvim/bundle/denite.nvim"]
	path = dotvim/bundle/denite.nvim
	url = https://github.com/Shougo/denite.nvim.git
[submodule "dotvim/bundle/deoplete-docker"]
	path = dotvim/bundle/deoplete-docker
	url = https://github.com/zchee/deoplete-docker.git
[submodule "dotvim/bundle/vim-rhubarb"]
	path = dotvim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "dotvim/bundle/deoplete-github"]
	path = dotvim/bundle/deoplete-github
	url = https://github.com/SevereOverfl0w/deoplete-github.git
[submodule "dotvim/bundle/deoplete-ternjs"]
	path = dotvim/bundle/deoplete-ternjs
	url = https://github.com/carlitux/deoplete-ternjs.git
[submodule "dotvim/bundle/deoplete-jedi"]
	path = dotvim/bundle/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi.git
[submodule "dotvim/bundle/deoplete-go"]
	path = dotvim/bundle/deoplete-go
	url = https://github.com/zchee/deoplete-go.git
[submodule "dotvim/bundle/deoplete.nvim"]
	path = dotvim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "dotvim/bundle/utl.vim"]
	path = dotvim/bundle/utl.vim
	url = https://github.com/vim-scripts/utl.vim.git
